In [2]:
5+5

10

In [1]:
10+20

30

In [7]:
import pyodbc 
server = 'IITC-SRV-SQL16'
database = 'shivamtest'
username = 'Appuser'
password = 'vsau*'
cnxn = pyodbc.connect('DRIVER={SQL Server Native Client 11.0};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
cursor.execute('SELECT * FROM test')

for row in cursor:
    print('row = %r' % (row,))

row = (1, 'abc')
row = (2, 'pqr')